---
import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";

import Layout from "../layouts/Layout.astro";
import type { EntryFieldTypes } from "contentful";
const title = "Bjarte's Blog Posts";

const entries = await contentfulClient.getEntries<Blogpost>({
  content_type: "blogpost",
  limit: 3,
});

interface Blogpost {
  contentTypeId: "blogpost";
  fields: {
    title: EntryFieldTypes.Text;
    content: EntryFieldTypes.RichText;
    excerpt: EntryFieldTypes.Text;
    imageWithAltText: EntryFieldTypes.EntryLink<ImageWithAltText>;
  };
}

interface ImageWithAltText {
  contentTypeId: "imageWithAltText";
  fields: {
    title: EntryFieldTypes.Text;
    image: EntryFieldTypes.AssetLink;
    altText: EntryFieldTypes.Text;
    imageTags: EntryFieldTypes.Text;
  };
}

// How to read body field from Contentful
// <p set:html={documentToHtmlString(item.fields.body)} />
---

<Layout title={title}>
  <main>
    <h1>{title}</h1>

    <h2>Blogposts fetched from Contentful</h2>
    {
      entries.items.map((item) => (
        <section>
          <h3>{item.fields.title}</h3>
          <p>{item.fields.excerpt}</p>
          <p>
            <img
              src={`${item.fields.imageWithAltText.fields.image.fields.file.url}?w=520`}
            />
          </p>
          <p set:html={documentToHtmlString(item.fields.content)} />
        </section>
      ))
    }
  </main>
</Layout>
 ../interfaces/ImageWithAltText../interfaces/BlogPost
